$main-color:#FEC30D;
$orange_shallow: #f8be36;
$orange:#fb8e36;
$font_grey:#CAC9CA;
$font_black:#1a010f;
$font-color-orange:#fa813f;
$font-color-blue:#11427e;
$font-color-white:#fff;
$font-black-grey:#343434;
$bg-grey:#f7f7f7;
$bg-grey-deep:#f2f2f2;
$price-red:#f62a3a;
$border-grey:#efefef;
$border-grey2:#b2b2b2;
$border-grey3:#DDDCDA;
$border-grey4:#eeefff;
$mobileMainColor:#2E6DB2;
// height: calc(100% - #{$tableHeight});//calc中使用变量的方式
@mixin fs($size:24px,$color:initial,$font-weight:initial,$line-height:$size){
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;
}
@mixin shadow(){
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
@mixin box-shadow($h-shadow:0,$v-shadow:0,$blur:10px,$spread:0,$color: rgba(0, 0, 0, 0.15)){
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
  //阴影大小主要基于位置和尺寸
  //h-shadow	必需。水平阴影的位置。允许负值。	测试
  //v-shadow	必需。垂直阴影的位置。允许负值。	测试
  //blur	可选。模糊距离。	测试
  //spread	可选。阴影的尺寸。	测试
  //color	可选。阴影的颜色。请参阅 CSS 颜色值。	测试
  //inset	可选。将外部阴影 (outset) 改为内部阴影。	测试
}
@mixin temp-shadow-box(){
  @include box-shadow();
  border-radius: 8px;
  padding: 0 20px 20px 20px;
}

//通用盒子
@mixin common-box($width:initial,$height:initial,$border-radius:initial,
$background-color:initial,$position:relative,$box-sizing:border-box,$overflow:hidden){
  position: $position;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  overflow: $overflow;
  box-sizing: $box-sizing;
  background-color:$background-color;
}
//通用按钮
@mixin common-btn($padding:15px 20px,$border-radius:20px,$bg_color:#f2f2f2,
$font_size:24px,$color:#666,$font-weight:initial,$border:initial){
  background: $bg_color;
  padding: $padding;
  @include fs($font_size,$color,$font-weight);
  border-radius: $border-radius;
  box-sizing: border-box;
  border:$border;
}
//固定长宽按钮
@mixin wh-btn($width:initial,$height:initial,$border-radius:initial,$background-color:initial,
$font_size:initial,$color:initial,$font-weight:initial,$position:relative,$box-sizing:border-box,$overflow:hidden){
  @include common-box($width,$height,$border-radius,$background-color,$position,$box-sizing,$overflow);
  @include fs($font_size,$color,$font-weight);
  @include df-center();
  cursor: pointer;
}
//通用图片盒子
@mixin common-imgbox($width:100%,$height:100%,$border-radius:initial,$position:relative,$box-sizing:border-box,$overflow:hidden){
  position: $position;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  box-sizing: $box-sizing;
  overflow: $overflow;
  image{
    width: 100%;
    height: 100%;
  }
}
//弹性盒子(通常用来包裹不确定的文字内容)
@mixin flex-box($padding,$border-radius:initial,$background-color:initial,
$position:relative,$min-width:initial,$min-height:initial,$overflow:hidden){
  position: $position;
  padding: $padding;
  border-radius: $border-radius;
  overflow: $overflow;
  background-color:$background-color;
  min-width: $min-width;
  min-height: $min-height;
  box-sizing: border-box;
}
//省略号，元素width需设置一个值
@mixin ellipsis($width:initial,$max-width:initial){
  width: $width;
  max-width: $max-width;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
//单行文字省略号通用盒子
@mixin one-row-wordbox($width:initial,$height:initial,$position:relative){
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: $width;
  height:$height;
  box-sizing: border-box;
  position: $position;
}
//多行文字省略号通用盒子
@mixin multi-row-wordbox($width:initial,$height:initial,$position:relative,$row-num:2){
  width: $width;
  height:$height;
  position: $position;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row-num;//行的数量
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}
//通用绝对布局
@mixin posa($top:initial,$left:initial,$bottom:initial,$right:initial,$z-index:1){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
@mixin posf($top:initial,$right:initial,$bottom:initial,$left:initial,$z-index:1){
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
//flex布局水平垂直居中
@mixin df-center($isColumn:initial,$flexWrap:initial){
  flex-direction: $isColumn;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: $flexWrap;
}
//flex行类布局子元素排列
@mixin df-row($isColumn:initial,$flexWrap:initial){
  flex-direction: $isColumn;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: $flexWrap;
}
@mixin df-row-end($isColumn:initial,$flexWrap:initial){
  flex-direction: $isColumn;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: $flexWrap;
}
@mixin df-around($isColumn:initial,$flexWrap:initial){
  flex-direction: $isColumn;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: $flexWrap;
}
@mixin df-between($isColumn:initial,$flexWrap:initial){
  flex-direction: $isColumn;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: $flexWrap;
}

@mixin bg-img($width:100%,$height:100%,$zIndex:0,$top:0,$left:0,$right:0,$bottom:0){ //浮在图片上面的元素，要显示需加上position:relative
  @include posa($top,$left,$right,$bottom,$zIndex);
  width: $width;
  height: $height;
}
@mixin bg-by-url($url:'',$repeat:no-repeat,$position:center,$size:100% 100%){ //浮在图片上面的元素，要显示需加上position:relative	
  background-image:url($url);	
  background-repeat:$repeat;	
  background-position:$position;	
  background-size:$size;	
}
//点击阴影
@mixin click-shadow{
	&:hover{
		box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.1);
		background: #f0f0f0;
	}
}
//点击透明
@mixin click-opacity{
  &:hover{
    opacity: 0.6;
  }
}
//部分圆角处理
@mixin border-radius($t-l:initial,$t-r:initial,$b-r:initial,$b-l:initial){
  border-top-left-radius: $t-l;
  border-top-right-radius: $t-r;
  border-bottom-right-radius: $b-r;
  border-bottom-left-radius: $b-l;
}
//iconfont背景色透明的解决办法
@mixin iconfont-bg($font-size:24px,$width:$font-size - 1,$line-height:$font-size - 1,$border-radius:50%,$color:#000,$background-color:#fff){
  width: $width;
  line-height: $line-height;
  border-radius: $border-radius;
  color:$color;
  background-color: $background-color;
  font-size: $font-size;
}
//旋转
@mixin transform-rotate($degree){
  transform:rotate($degree);
  -ms-transform:rotate($degree); 	/* IE 9 */
  -moz-transform:rotate($degree); 	/* Firefox */
  -webkit-transform:rotate($degree);  /* Safari 和 Chrome */
  -o-transform:rotate($degree); 	/* Opera */
}
//阻止滚动穿透
@mixin preventTouchMove{
  top: 0px ;
  left:   0px ;
  width:   100% ;
  height:   100% ;
  overflow:   hidden ;
  position:   fixed ;
  z-index:   0 ;
}
//右三角形
@mixin right-triangle($width:initial,$height:initial,$color:initial){
    width: 0;
    height: 0;
    border-bottom: $height/2 solid transparent;
    border-top: $height/2 solid transparent;
    border-left: $width solid $color;
}
//左三角形
@mixin left-triangle($width:initial,$height:initial,$color:initial){
    width: 0;
    height: 0;
    border-bottom: $height/2 solid transparent;
    border-top: $height/2 solid transparent;
    border-right: $width solid $color;
}
//上三角形
@mixin top-triangle($width:initial,$height:initial,$color:initial){
    width: 0;
    height: 0;
    border-bottom: $height solid $color;
    border-right: $width/2 solid transparent;
    border-left: $width/2 solid transparent;
}
//下三角形
@mixin bottom-triangle($width:initial,$height:initial,$color:initial){
    width: 0;
    height: 0;
	border-top: $height solid $color;
	border-right: $width/2 solid transparent;
	border-left: $width/2 solid transparent;
}

/* 定义滚动条样式 圆角和阴影不需要则传入null */
@mixin scrollBar($width:10px,$height:10px,$outColor:#f1f1f199,$innerColor:#cccccc99,$radius:5px,$shadow:null) {
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    //background-color: $outColor;
  }
 
  /*定义滚动条轨道 外阴影+圆角*/
  &::-webkit-scrollbar-track {
    @if ($shadow!=null) {
      -webkit-box-shadow: $shadow;
    }
    // @if ($radius!=null) {
    //   border-radius: $radius;
    // }
    background-color: $outColor;
  }
 
  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    @if ($shadow!=null) {
      -webkit-box-shadow: $shadow;
    }
    @if ($radius!=null) {
      border-radius: $radius;
    }
    background-color: $innerColor;
    border: 1px solid $innerColor;
  }
}

/* css3动画 默认3s宽度到200px */
@mixin animation($from:(width:0px),$to:(width:200px),$name:mymove,$animate:mymove 2s 1 linear infinite) {
  -webkit-animation: $animate;
  -o-animation: $animate;
  animation: $animate;
  @keyframes #{$name}
  {
    from {
      @each $key, $value in $from {
        #{$key}: #{$value};
      }
    }
    to {
      @each $key, $value in $to {
        #{$key}: #{$value};
      }
    }
  }
 
  @-webkit-keyframes #{$name}
  {
    from {
      @each $key, $value in $from {
        $key: $value;
      }
    }
    to {
      @each $key, $value in $to {
        $key: $value;
      }
    }
  }
}
//橘黄色渐变
@mixin gradient-orange(){
  background-image: linear-gradient(225deg, #fa813f 0%, #f05e46 100%),
  linear-gradient(#73b3fa, #73b3fa);
  background-blend-mode: normal, normal;
}
/*渐变(从上到下）*/
@mixin linear-gradient($direction:bottom,$color1:transparent,$color2:#306eff,$color3:transparent) {
  //background: -webkit-linear-gradient($direction,$colorTop, $colorCenter, $colorBottom); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient($direction, $color1, $color2, $color3); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient($direction, $color1, $color2, $color3); /* Firefox 3.6 - 15 */
  background: linear-gradient(to $direction, $color1, $color2, $color3); /* 标准的语法 */
}

@mixin setElementAfter($content:"",$margin:0) {
	&:after{
		content: $content;
		margin: $margin;//margin左右有用，上下需要设置display为block
	}
}

//textarea一定要设置默认高度，否则在ios上聚焦时会发生抖动
@mixin textareaDef($height:20px) {
	height: $height;
}

@mixin blue-element-table-header($height:auto){
  // .el-table__body-wrapper {
  //   // max-height: 450px;//calc中使用变量的方式
  //   // overflow-y: scroll;
  //   // @include scrollBar();
  // }
  .el-table .el-table__header-wrapper th,
  .el-table .el-table__fixed-header-wrapper th {
    background: #409eff;
    color: #ffffff;
    height: $height;
  }
  .el-table__fixed-right-patch {
    background: #409eff;
    border-bottom: none;
  }
}


@mixin link-word(){
  color: #409eff;
  cursor: pointer;
}

@mixin divider-line($margin:0 15px,$width:1px,$height:100%,$min-height:28px,
$background-color:#ddd){
  margin: $margin;
  width: $width;
  height: $height;
  background-color: $background-color;
  min-height: $min-height;
}

.verticalDivider{
  margin: 0 15px;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  min-height: 28px;
}
// Sass函数参考使用

// $grid-width: 40px;
// $gutter-width: 10px;

// @function grid-width($n) {
//   @return $n * $grid-width + ($n - 1) * $gutter-width;
// }

// #sidebar { width: grid-width(5); }

// 结果编译为
// #sidebar {
//   width: 240px; 
// }

//基于mixin的预设class
.df-row{
  @include df-row();
}
.df-center{
  @include df-center();
}
.box-shadow{
  @include box-shadow();
}
.bg-img{
  @include bg-img();
}
.click-shadow{
  @include click-shadow();
}
.click-opacity{
  @include click-opacity();
}
.cursor-pointer{
  cursor: pointer;
}

