@font-face {
  font-family: "iconfont"; /* Project id 3251325 */
  src: url('iconfont.woff2?t=1651818612885') format('woff2'),
       url('iconfont.woff?t=1651818612885') format('woff'),
       url('iconfont.ttf?t=1651818612885') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiwenquestion:before {
  content: "\e7cd";
}

.icon-dianzan-off:before {
  content: "\e8ad";
}

.icon-dianzan-on:before {
  content: "\e8c3";
}

.icon-fanhui:before {
  content: "\e656";
}

.icon-baseline-close-px:before {
  content: "\e615";
}

.icon-baseline-close-px-small:before {
  content: "\e657";
}

.icon-radiooff:before {
  content: "\e653";
}

.icon-radioon:before {
  content: "\e654";
}

.icon-right-arrow:before {
  content: "\e632";
}

.icon-close:before {
  content: "\e62b";
}

.icon-close1:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e72f";
}

.icon-edit:before {
  content: "\e781";
}

.icon-biaoqing:before {
  content: "\e659";
}

.icon-21:before {
  content: "\e616";
}

.icon-yuyin:before {
  content: "\e68d";
}

.icon-shipin:before {
  content: "\e677";
}

.icon-wenjianjia-shi:before {
  content: "\e66c";
}

.icon-xiangce:before {
  content: "\e621";
}

.icon-LC_icon_photo_fill:before {
  content: "\e658";
}

.icon-jianpan:before {
  content: "\e608";
}

.icon-yuyin1:before {
  content: "\e667";
}

.icon-microphone:before {
  content: "\e6e0";
}

.icon-video:before {
  content: "\e63b";
}

.icon-wenjian:before {
  content: "\e60f";
}

.icon-heart1:before {
  content: "\e647";
}

.icon-duoxuan:before {
  content: "\e630";
}

.icon-duoxuan1:before {
  content: "\e714";
}

.icon-time:before {
  content: "\e65f";
}

.icon-inbox2:before {
  content: "\e651";
}

.icon-more:before {
  content: "\e6f4";
}

.icon-trash:before {
  content: "\e726";
}

.icon-triangledownfill:before {
  content: "\e79b";
}

.icon-triangleupfill:before {
  content: "\e79c";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-angle-down:before {
  content: "\e84c";
}

.icon-angle-up:before {
  content: "\e84d";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-good:before {
  content: "\e753";
}

.icon-good-fill:before {
  content: "\e780";
}

